*{
    padding: 0px;
    margin: 0px;
}
body{
    background: aqua;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
}
.conteaner{
    margin: 10%;
    background: grey;
    border-radius: 10px;
}

header{
    background: magenta;
    text-align: center;
}